@import "../../assets/styles/respond.scss";

.planet {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 24px;
  z-index: 0;
  img {
    position: absolute;
    &:nth-of-type(1) {
      transform: translateX(-8.02px) translateY(2.72px);
      left: 100px;
      top: 35px;
      @include respond(desktop) {
        display: none;
      }
    }
    &:nth-of-type(2) {
      transform: translateX(48.4px) translateY(23.79px);
      right: 250px;
      top: 25px;
      @include respond(desktop) {
        right: 150px;
      }
      @include respond(lg-phone) {
        display: none;
      }
    }
    &:nth-of-type(3) {
      transform: translateX(32.28px) translateY(17.77px);
      left: 0px;
      top: 28%;
      @include respond(desktop) {
        left: 125px;
        transform: translateX(-32.28px);
        top: 75px;
      }
      @include respond(lg-phone) {
        left: 50%;
        transform: translateX(-32.28px);
        top: 50px;
      }
    }
    &:nth-of-type(4) {
      transform: translateX(0.04px) translateY(5.73px);
      right: 0px;
      top: 28%;
      @include respond(desktop) {
        display: none;
      }
    }
    &:nth-of-type(5) {
      transform: translateX(48.4px) translateY(23.79px);
      left: 100px;
      bottom: 200px;
      @include respond(desktop) {
        bottom: 150px;
      }
      @include respond(lg-phone) {
        bottom: 70px;
        left: 50px;
      }
    }
    &:nth-of-type(6) {
      transform: translateX(24.22px) translateY(14.76px);
      right: 200px;
      bottom: 200px;
      @include respond(desktop) {
        right: 150px;
        bottom: 150px;
      }
      @include respond(lg-phone) {
        bottom: 70px;
        right: 20px;
      }
    }
  }
}
