@mixin button {
  padding: 10px 16px;
  font-size: 14px;
  color: #000;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.outlined {
  @include button();
  border: 1px solid rgba(0, 53, 67, 1);
  background-color: rgba(0, 0, 0, 0);
  &:hover {
    color: rgba(0, 0, 0, 0.705);
  }
}

.contained {
  @include button();
  background-color: #00dc82;
  border: none;
  &:hover {
    background-color: #4de7a8;
  }
}
