@import "../../assets//styles/respond.scss";

.contents {
  margin-top: 50px;
  display: grid;
  column-gap: 48px;
  row-gap: 48px;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 100px;
  img {
    margin-bottom: 20px;
  }
  p + p {
    margin-top: 10px;
  }
  @include respond(desktop) {
    grid-template-columns: auto auto auto;
  }
  @include respond(tablet) {
    grid-template-columns: auto auto;
  }
  @include respond(phone) {
    grid-template-columns: auto;
  }
}
