@import "../../assets/styles/respond.scss";
.announ {
  background-color: rgba(0, 220, 130, 0.2);
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(0, 220, 130);
  margin-bottom: 50px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  @include respond(phone) {
    flex-direction: column;
    a + button {
      margin-top: 20px;
    }
  }
  button {
    margin-left: 20px;
  }
  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 11px;
    border-radius: 6px;
    &:hover {
      background-color: rgba(0, 53, 67, 1);
    }
    svg {
      height: 13px;
      margin-right: 10px;
    }
  }
}
