@import "../../assets/styles/respond.scss";

.container {
  display: grid;
  gap: 2%;
  margin-top: 100px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  @include respond(lg-phone) {
    grid-template-columns: auto auto;
  }
}
.content {
  padding: 5%;
  cursor: pointer;
  border-radius: 0.375rem;
  p {
    margin-top: 20px;
  }
  &:hover {
    background-color: rgba(0, 53, 67, 1);
  }
}
