@import "../../assets/styles/respond.scss";
.container {
  display: grid;
  grid-gap: 5rem;
  gap: 5rem;
  margin-top: 100px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @include respond(lg-phone) {
    grid-template-columns: auto;
  }
}
.content {
  padding: 24px;
  cursor: pointer;
  border-radius: 0.375rem;
  p {
    margin-top: 20px;
  }
  &:hover {
    background-color: rgba(14, 165, 233, 0.5);
  }
}
