@import "../../assets/styles/respond.scss";

.wrapper {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  h3 {
    margin-bottom: 15px;
  }
  h4 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }
}
.tab {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: left;
  > span {
    font-size: 18px;
    color: #fafafa;
    font-weight: 400;
    position: relative;
    cursor: pointer;
  }
  span + span {
    margin-left: 42px;
  }
}
.tab_content {
  width: 100%;
  display: flex;
  @include respond(desktop) {
    flex-direction: column;
  }
}
.tab_content_ide {
  width: 50%;
  background-color: rgba(0, 30, 38, 1);
  border-radius: 6px;
  @include respond(desktop) {
    width: 100%;
  }
}

.tab_content_screen {
  width: 50%;
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  @include respond(desktop) {
    margin-top: -1px;
    margin-bottom: 20px;
    width: 100%;
  }
  img {
    margin-top: 10px;
    display: block;
    &:first-of-type {
      width: 36px;
      height: 36px;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      max-width: 90%;
      width: auto;
    }
  }
}

.tab_content_ide_header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 10px 0px;
  border-bottom: 1px solid #fff;
  > div {
    position: absolute;
    left: 10px;
  }
  span {
    background-color: rgba(0, 220, 130, 1);
    border-radius: 9999px;
    height: 10px;
    margin-right: 0.5rem;
    width: 10px;
    display: inline-block;
  }
}

.tab_content_ide_main {
  display: flex;
}

.tab_content_ide_main_index {
  border-right: 1px solid #fff;
  margin-top: 10px;
  padding-right: 10px;
}

.tab_content_ide_main_code {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  color: rgba(248, 113, 113, 1);
}

.btns {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}
