.nav_wrapper {
  backdrop-filter: blur(12px);
  background-color: rgba(0, 30, 38, 0.7);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99999999999;
}

.nav {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto;
  height: 72px;
  max-width: 1280px;
  padding: 0px 24px;
  margin: auto;
  color: #fff;
  img {
    height: 36px;
  }
  ul {
    display: flex;
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        margin-left: 10px;
      }
    }
    li + li {
      margin-left: 20px;
    }
  }
  > div {
    display: flex;
    align-items: center;
    div + svg {
      margin-left: 10px;
    }
    svg {
      cursor: pointer;
      height: 20px;
      width: 20px;
    }
  }
}
