@import "../../assets/styles/respond.scss";

.container {
  display: grid;
  grid-gap: 5rem;
  gap: 5rem;
  margin-top: 100px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @include respond(lg-phone) {
    grid-template-columns: auto;
  }
}
.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  p {
    margin-top: 20px;
  }
  > div {
    overflow: hidden;
    border-radius: 8px;
    img {
      max-width: 600px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }
}
.link {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #00dc82;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  svg {
    margin-left: 5px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    width: 40%;
    border-bottom: 1px solid #00dc82;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}
