.wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 24px;
  z-index: 0;
}
.star {
  border-radius: 9999px;
  background-color: #fff;
  position: absolute;
}
