@import "../../assets/styles/respond.scss";

.container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  @include respond(lg-phone) {
    grid-template-columns: auto;
  }
}

.content {
  padding: 64px 64px 96px;
  @include respond(lg-phone) {
    &:first-of-type {
      margin-top: 50px;
    }
    padding: 32px 12px 48px;
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
  img {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}
