@import "../../assets//styles/respond.scss";

.container {
  max-width: 1280px;
  padding: 0px 24px;
  margin: auto;
  @include respond(desktop) {
    padding: 0px 16px;
  }
  @include respond(tablet) {
    padding: 0px 8px;
  }
}
