@import "../../assets/styles/respond.scss";

.ads {
  text-align: center;
  width: 100%;
  background-color: #00dc82;
  padding: 13px 0px;
  position: relative;
  min-height: 40px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  box-sizing: border-box;
  @include respond(lg-phone) {
    padding: 5px 16px;
    text-align: start;
  }
  b {
    font-weight: 600;
  }
  &:hover {
    background-color: #4de7a8;
  }
}
