@import "../../assets/styles/respond.scss";

.container {
  padding: 64px 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include respond(desktop) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
  @include respond(lg-phone) {
    grid-template-columns: repeat(1, 1fr);
  }
  ul {
    li + li {
      margin-top: 15px;
    }
  }
  p + p {
    margin: 15px 0px;
  }
  input {
    outline: none;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 2%;
    :focus {
      border: 1px solid #99f1cd;
    }
  }
  img {
    width: 24px;
    height: 24px;
  }
  a + a {
    margin-left: 10px;
  }
}
.form {
  display: flex;
  button {
    height: 45px;
  }
  input {
    width: 100%;
  }
}
