@import "../../assets/styles/respond.scss";

.container {
  display: grid;
  margin-top: 50px;
  column-gap: 3%;
  row-gap: 48px;
  grid-template-columns: auto auto auto;
  margin-bottom: 200px;
  @include respond(tablet) {
    grid-template-columns: auto;
    row-gap: 20px;
  }
}
.card {
  border: 1px solid #cecece;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar {
  width: 48px;
  height: 48px;
}

.company {
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile {
  margin-left: 20px;
  text-align: start;
  p + p {
    margin-top: 8px;
  }
}
