@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 413px) {
      @content;
    }
  }
  @if $breakpoint == lg-phone {
    @media (max-width: 637px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1023px) {
      @content;
    }
  }
}
