@import "./respond.scss";

.black_background {
  background-color: rgba(0, 30, 38, 1);
  color: #fff;
  position: relative;
}
.light_black_background {
  background-color: rgba(1, 42, 53, 1);
  color: #fff;
  position: relative;
}
.sky_background {
  position: relative;
  background-color: rgba(229, 249, 255, 1);
}
.no_background {
  position: relative;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 14rem;
  position: relative;
  z-index: 100000;
  h3 {
    margin-bottom: 24px;
  }
  h4 {
    margin-bottom: 24px;
  }
}
.wrapper_start {
  @extend .wrapper;
  align-items: start;
}
.active_tab {
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  bottom: -8px;
  background-color: #00dc82;
}
.img {
  width: 100%;
  position: absolute;
  object-fit: fill;
  display: block;
  left: 0;
  bottom: 0;
  transform: translatey(50%);
}
.row_center {
  display: flex;
  align-items: center;
}
.t_blur {
  color: rgba(178, 204, 204, 1);
}
.t_sky {
  color: #95ccde;
}
.t_xsm {
  font-size: 14px;
  @include respond(tablet) {
    font-size: 12px;
  }
}
.t_sm {
  font-size: 16px;
  @include respond(tablet) {
    font-size: 14px;
  }
}

.t_md {
  font-size: 18px;
  @include respond(tablet) {
    font-size: 16px;
  }
}
.t_xmd {
  font-size: 20px;
  @include respond(tablet) {
    font-size: 18px;
  }
  @include respond(phone) {
    font-size: 16px;
  }
}
.t_lg {
  font-size: 24px;
  @include respond(tablet) {
    font-size: 22px;
  }
  @include respond(phone) {
    font-size: 20px;
  }
}
.t_xlg {
  font-size: 48px;
  @include respond(tablet) {
    font-size: 36px;
  }
  @include respond(phone) {
    font-size: 24px;
  }
}
.t_xxlg {
  font-size: 65px;
  @include respond(tablet) {
    font-size: 48px;
  }
  @include respond(phone) {
    font-size: 36px;
  }
}
.t_gr {
  color: rgba(0, 220, 130, 1);
}
.t_400 {
  font-weight: 400;
}
.t_700 {
  font-weight: 700;
}
.m_0 {
  margin: 0 !important;
}
.mt_72 {
  margin-top: -72px !important;
}
